<html lang='en-US'>
<head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>Reset Password Email</title>
    <meta name='description' content='Reset Password Email.' />
    <style type='text/css'>
        a:hover { text-decoration: underline !important; }
    </style>
</head>

<body
        marginheight='0'
        topmargin='0'
        marginwidth='0'
        style='margin: 0px; background-color: #f2f3f8'
        leftmargin='0'
>
<!--100% body table-->
<table
        cellspacing='0'
        border='0'
        cellpadding='0'
        width='100%'
        bgcolor='#f2f3f8'
        style="
        @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700);
        font-family: 'Open Sans', sans-serif;
      "
>
    <tr>
        <td>
            <table
                    style='background-color: #f2f3f8; max-width: 670px; margin: 0 auto'
                    width='100%'
                    border='0'
                    align='center'
                    cellpadding='0'
                    cellspacing='0'
            >
                <tr>
                    <td style='height: 80px'>&nbsp;</td>
                </tr>
                <tr>
                    <td style='text-align: center'>
                        <a
                                href='http://autonomous-area.herokuapp.com/'
                                title='logo'
                                target='_blank'
                        >
                            <svg
                                    style='margin-left: auto; margin-right: auto; width: 144px'
                                    title='logo'
                                    alt='logo'
                            >
                                <g
                                        class='fa-group'
                                        transform='matrix(0.99974889,0,0,0.99888041,17.515598,0.94670447)'
                                        data-v-66587d87=''
                                >
                                    <!--[-->
                                    <path
                                            fill='#0998d8'
                                            d='M 14.913163,-0.94776558 A 15.369163,15.369163 0 0 0 -0.45612121,14.421518 15.369163,15.369163 0 0 0 14.913163,29.790803 15.369163,15.369163 0 0 0 30.282448,14.421518 15.369163,15.369163 0 0 0 14.913163,-0.94776558 Z M 45.353105,13.459979 A 49.734244,49.734244 0 0 0 32.811254,15.296752 17.930691,17.930691 0 0 1 14.913163,32.351909 17.930691,17.930691 0 0 1 8.2093871,31.045677 49.734244,49.734244 0 0 0 -3.3857471,58.764608 H 5.4624327 V 46.280473 H 27.722929 V 58.764608 H 45.504005 L 45.25515,40.327501 H 57.594207 V 25.993355 H 45.353105 Z'
                                            class=''
                                            data-v-66587d87=''
                                    ></path>
                                    <path
                                            fill='#d40838'
                                            d='M 107.5114,31.663622 A 15.369163,15.369163 0 0 0 92.142109,16.294338 15.369163,15.369163 0 0 0 76.772824,31.663622 15.369163,15.369163 0 0 0 92.142109,47.032906 15.369163,15.369163 0 0 0 107.5114,31.663622 Z M 93.103648,62.103563 A 49.734244,49.734244 0 0 0 91.266875,49.561712 17.930691,17.930691 0 0 1 74.211718,31.663622 17.930691,17.930691 0 0 1 75.51795,24.959846 49.734244,49.734244 0 0 0 47.799019,13.364711 v 8.848181 H 60.283154 V 44.473387 H 47.799019 V 62.254463 L 66.236126,62.005608 V 74.344662 H 80.570272 V 62.103563 Z'
                                            class=''
                                            data-v-66587d87=''
                                    ></path>
                                    <path
                                            fill='#9ebd13'
                                            d='m 75.173801,124.19234 a 15.369163,15.369163 0 0 0 15.36929,-15.3693 15.369163,15.369163 0 0 0 -15.36929,-15.369283 15.369163,15.369163 0 0 0 -15.36928,15.369283 15.369163,15.369163 0 0 0 15.36928,15.3693 z m -30.43994,-14.40776 a 49.734244,49.734244 0 0 0 12.54185,-1.83677 17.930691,17.930691 0 0 1 17.89809,-17.055163 17.930691,17.930691 0 0 1 6.70378,1.30624 49.734244,49.734244 0 0 0 11.59513,-27.71894 h -8.84818 v 12.48414 h -22.26049 v -12.48414 h -17.78108 l 0.24886,18.43711 h -12.33906 v 14.33415 h 12.2411 z'
                                            class=''
                                            data-v-66587d87=''
                                    ></path>
                                    <path
                                            fill='#fb8714'
                                            d='M -17.519997,91.599136 A 15.369163,15.369163 0 0 0 -2.1506966,106.96843 15.369163,15.369163 0 0 0 13.218581,91.599136 15.369163,15.369163 0 0 0 -2.1506966,76.229856 15.369163,15.369163 0 0 0 -17.519997,91.599136 Z m 14.4077604,-30.43994 a 49.734244,49.734244 0 0 0 1.83677,12.541851 17.930691,17.930691 0 0 1 17.0551576,17.898089 17.930691,17.930691 0 0 1 -1.30624,6.703779 49.734244,49.734244 0 0 0 27.71894,11.595135 v -8.84818 H 29.708251 V 78.789376 h 12.48414 v -17.78108 l -18.43711,0.24886 V 48.918096 H 9.4211314 v 12.2411 z'
                                            class=''
                                            data-v-66587d87=''
                                    ></path>
                                    <!--]-->
                                </g>
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style='height: 20px'>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table
                                width='95%'
                                border='0'
                                align='center'
                                cellpadding='0'
                                cellspacing='0'
                                style='
                    max-width: 670px;
                    background: #fff;
                    border-radius: 3px;
                    text-align: center;
                    -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  '
                        >
                            <tr>
                                <td style='height: 40px'>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style='padding: 0 35px'>
                                    <h1
                                            style="
                          color: #1e1e2d;
                          font-weight: 500;
                          margin: 0;
                          font-size: 32px;
                          font-family: 'Rubik', sans-serif;
                        "
                                    >
                                        You have requested to reset your password
                                    </h1>
                                    <span
                                            style='
                          display: inline-block;
                          vertical-align: middle;
                          margin: 29px 0 26px;
                          border-bottom: 1px solid #cecece;
                          width: 100px;
                        '
                                    ></span>
                                    <p
                                            style='color: #455056; font-size: 15px; line-height: 24px; margin: 0'
                                    >
                                        We cannot simply send you your old password. A unique
                                        link to reset your password has been generated for you.
                                        To reset your password, click the following link and
                                        follow the instructions.
                                    </p>
                                    <a
                                            href='http://autonomous-area.herokuapp.com/'
                                            style='
                          background: #20e277;
                          text-decoration: none !important;
                          font-weight: 500;
                          margin-top: 35px;
                          color: #fff;
                          text-transform: uppercase;
                          font-size: 14px;
                          padding: 10px 24px;
                          display: inline-block;
                          border-radius: 50px;
                        '
                                    >Reset Password</a>
                                    <br />
                                    <span
                                            style='
                          display: inline-block;
                          vertical-align: middle;
                          margin: 29px 0 26px;
                          border-bottom: 1px solid #cecece;
                          width: 100px;
                        '
                                    ></span>
                                    <br />
                                    <p
                                            style='color: #455056; font-size: 15px; line-height: 24px; margin: 0'
                                    >If you have some difficulty, try with this link:</p>
                                    <a
                                            href='http://autonomous-area-api.herokuapp.com/resetPassword/{{token}}'
                                    >http://autonomous-area-api.herokuapp.com/resetPassword/{{token}}</a>
                                </td>
                            </tr>
                            <tr>
                                <td style='height: 40px'>&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td style='height: 20px'>&nbsp;</td>
                </tr>
                <tr>
                    <td style='height: 80px'>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--/100% body table-->
</body>
</html>